<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profie.name}} <small>{{profile.login}}</small>
    <span *ngIf="profile.company">,  Works at{{profile.company}}</span>
    {{profile.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <img src="{{profile.avatar_url}}" class="img-circle img-responsive"alt="Profile Image">
        </div>
        <div class="col-sm-5">
        <ul class="list-group">
          <ul class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
          <ul class="list-group-item" *ngIf="profile.hirable">Available for hire </li>
          <ul class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
          <ul class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
        </ul>
        </div>
        <div class="col-sm-4">
        <div>
          <p>
          <span class="label label-default">{{Profile.followers}}Followers</span>
          <span class="label label-default">{{Profile.followings}}Following</span>
          <span class="label label-default">{{Profile.followers}}Followers</span>
          <span class="label label-default">{{Profile.followers}}Followers</span>
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
