<h1>GitSearch :-)</h1>
<!-- <img class="responsive-img" src="../../assets/download.jpg" alt="Gitsearch"> -->
<form action="" class="search-form" class="card-panel teal lighten-2" >
  <h5 class="black-text">To see Information regarding  a github user,Please input their name in the text field below</h5>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search git users with username" [(ngModel)]="username" name="username" (keyup)="findProfile()">
  </div>
</form>
<div *ngIf="profile">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{profile.name}} <small>{{profile.login}}</small>
      <span *ngIf="profile.company">,  Works at{{profile.company}}</span>
      {{profile.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-item" *ngIf="profile.hirable">Available for hire </li>
            <li class="list-group-item" *ngIf="profile.blog">{{profile.blog}}</li>
            <li class="list-group-item" *ngIf="profile.email">{{profile.email}}</li>
          </ul>
        </div>
                <div class="col-sm-4">
                  <p>
                    <button class="btn btn-default btn-sm" class="btn pulse btn red">{{profile.public_repos}}Public Repos</button>
                    <button class="btn btn-primary btn-sm" class="btn pulse btn orange">{{profile.followers}}Followers</button>
                    <button class="btn btn-success btn-sm" class="btn pulse btn green" >{{profile.following}}Following</button>
                    <button class="btn btn-info btn-sm" class="btn pulse  btn-large cyan pulse" >{{profile.public_gists}}Public gists</button>
                  </p>
                  <p>
                    <a href="{{profile.html_url}}" class="btn btn-warning btn-sm pull-right" target="_blank" class="btn pulse">View profile on Github</a>
                  </p>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Repos</h3>
                    </div>
                    <div class="panel-body" *ngFor="let repo of repos">
                      <p class="clearfix">
                        {{repo.name}}  <a href = "{{repo.html_url}}">View this project on Github </a>
                      </p>
                      <p>{{repo.description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
